/*Règle d'affichage entre écran de 17" et 14" */

/*pour les écran de 17"*/
@media screen and (min-width : 1470px)
{
        .SiteHeader{
            width: 80%;
            margin: 0 10% 0 10%;
        }
        .display_main_container{
            width: 80%;
            margin: 0 10% 0 10%;
        }
        .main_container_activity{
            width: 80%;
            margin: 0 10% 3% 10%;
        }
        .title_part{ 
            margin-left: 10%;
        }
    }

