/*Règle d'affichage entre écran de 17" et 14" */

/*pour les écran de 17"*/
@media screen not (max-width : 1080px)
{
        .SiteHeader{
            width: 80%;
            margin: 0 10% 0 10%;
        }
    }

    /*pour les écran en 14"*/
    @media screen and (max-width:1024px)
    {
        
            .SiteHeader{
                width: 94%;
                margin: 0 2% 0 2%;
            }
        }