/*Body*/

body{
    font-family: 'Raleway';
    height: auto;
}

.title_part{
    font-size:1em;
    font-weight: bold; 
}

/*Header*/

.SiteHeader-title-nav{
    display: flex;
    justify-content: space-between;
}

.SiteHeader-title {
text-decoration: none;
margin-top: 50px;
color: #0065FC;
}

.SiteHeader-nav ul{
    list-style: none;
    display: flex;
}

.SiteHeader-nav li{
    margin-left: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.SiteHeader-nav li:hover{
    border-top: 2px solid #0065FC;
}

.SiteHeader-nav a{
    text-decoration: none;
    color: black;
}
#link_register{
    color: #0065FC;
    font-weight: bold;
}

.SiteHeader-nav a:hover{
    color:  #0065FC ;
}

.SiteHeader-h1{
    font-size:1em;
}

#SiteHeader-slogan{
    color:black;
    font-size: 0.6em;
}

.SiteHeader-search-btn{
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
}

.SiteHeader-search-input{
    border: 1px solid #F2F2F2;
    font-weight:bold;
    padding-left: 2%;
}

.SiteHeader-btn{
    background-color: #0065FC;
    color: white;
    border-style: none;
}

/*élements de la barre de recherche*/
.bar-search{
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SiteHeader-btn{
    border-radius:0 10px  10px 0 ;
    padding:0 15px;
}

/*éléments de la partie filtres*/
.Filter{
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
}

.FilterChoice{
    margin-left: 30px;
    border: 1px solid  #F2F2F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.FilterChoice:hover {
    transition: 0,2s;
    background-color: #F2F2F2;
}

.circle-icon:hover{
    color: black;
}

.elements-choice{
    margin: 10px;
}

.InformationResult{
    display: flex;
    align-items: center;
}

.InformationResult-result{
    margin-left: 10px;
}

/*Mise en forme des icon*/
.circle-icon{
    height: 40px;
    width: 40px;
    margin-left: -1px;
    background-color: #DEEBFF;
    border-radius: 50px;
    color:#0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0,2s;
}

#icon{
    color: #0065FC;
}

.icon-info{
    height: 25px;
    width: 25px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section*/

.display_main_container{
    display: flex;
    justify-content: space-between;  
}

.box_vignette{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;     
}

.section_vingette{
    width: 750px;
    height: 540px;
    margin-left: 50px;  
    padding: 10px;  
}

/* Vignette*/
.vignette{
    box-shadow: 0px 2px 7px -2px #7894A3;
}

.link_vignette{
    color:black;
    text-decoration: none;
}

.vignette_text{
    padding-top: 0px;
    margin:0 -10px 0 0;
    font-weight: lighter;
}

.vignette_text_populaire{
    padding-top: 5px;
    margin:0 -10px 0 0;
    font-weight: lighter;
}

.vignette_title{
    width: 180px;
    margin:5px -10px 0 0;
}

/*configuration vignette*/
.vignette_hebergement {
    width: 220px;
    height: 180px;
    border-radius: 10px;
    border: 4px solid white;
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

/*image des différente vignette*/
#img_vignette_img1{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: -65%;
    background-position-x: 30%;
    background-repeat: no-repeat;
}

#img_vignette_img2{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: -60%;
    background-position-x: 0%;
    background-repeat: no-repeat;
}

#img_vignette_img3{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: -60%;
    background-position-x: 20%;
    background-repeat: no-repeat;
}

#img_vignette_img4{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg?raw=true');
    background-size: 104%;
    background-position-y: 165%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

#img_vignette_img5{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg?raw=true');
    background-size: 104%;
    background-position-y: -25%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

#img_vignette_img6{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg?raw=true');
    background-size: 105%;
    background-position-y: 75%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}


/*zone de text*/
.text_vignette_hebergement{
    background-color: white;
    width: 250px;
    height: 76px;
    border-radius: 0 0 5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

/*mise en forme des étoile*/
.list_etoile_hebergement{
    height: 20px;
    width:90px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

.etoile_vignette_bleu{
    color: #0065FC; 
}
.etoile_vignette_grey{
    color:#F2F2F2;
}

#link_box_vignette{
    text-decoration: none;
    color: black;
    position: relative;
    top: 30px;
    margin-left: 15px;
}

/*Aside et vignette populaire*/

.aside_style{
    width: 330px;
    height: 560px;
    padding-left: 20px;
    padding-right: 20px;
}
.title_aside{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
}

/* Vignette dans l'aside "populaire*/
.vignette_aside_populaire{
    list-style-type: none;
    margin-left: -35px;
}

.vignette_populaire{
    width: 310px;
    height: 130px;
    border-radius: 10px;
    border: 4px solid white;
    position: relative;
    margin: 10px 0 20px 0;
}

#img_vignette_img7{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg?raw=true');
    background-size: 65%;
    background-position-y: -5px;
    background-position-x: -40px;
    background-repeat: no-repeat;
}

#img_vignette_img8{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg?raw=true');
    background-size: 58%;
    background-position-y: 0px;
    background-position-x: -30px;
    background-repeat: no-repeat;
}

#img_vignette_img9{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg?raw=true');
    background-size: 43%;
    background-position-y: -35px;
    background-position-x: -8px;
    background-repeat: no-repeat;
}

.text_vignette_populaire{
    background-color: white;
    width: 180px;
    height: 130px;
    border-radius: 0 0 5px 0px ;
    display: flex;
    flex-direction: column;
    justify-self:flex-end;
    padding-left: 10px;
    position: absolute;
    right: 0px;
}

.list_etoile_populaire{
    height: 20px;
    width:90px;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin-top: 25px;
}

/* Séction des Activités*/

.main_container_activity{
    display: flex;
    justify-content: space-between;
    height: auto;
    
}

.block_activity{
    display: flex;
}

/*Vignette des activités*/
.vignette_activity{
    display: flex;
    justify-content: space-around;
    width: 270px;
}

.block_activity_double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.vignette_activity_right{
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.vignette_activity_small{
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}
#img_vignette_img12{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: -9px;
    background-position-x: center;
    background-repeat: no-repeat;
}

#img_vignette_img15{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}

.vignette_activity_medium{
    height: 210px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}
#img_vignette_img11{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg?raw=true');
    background-size: 100%;
    background-position-y: -109px;
    background-position-x: center;
    background-repeat: no-repeat; 
}
#img_vignette_img14{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg?raw=true');
    background-size: 110%;
    background-position-y: -3px;
    background-position-x: center;
    background-repeat: no-repeat; 
}

.vignette_activity_big{
    height: 380px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}
#img_vignette_img10{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg?raw=true');
    background-size: 220%;
    background-position-y: -15px;
    background-position-x: center;
    background-repeat: no-repeat;
}

#img_vignette_img13{
    background-image: url('https://github.com/AlexPYgit/AlexisPayet_2_20122020/blob/master/images/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg?raw=true');
    background-size: 220%;
    background-position-y: -15px;
    background-position-x: center;
    background-repeat: no-repeat;
}

.text_vignette_activity{
    background-color: white;
    width: 2000px;
    height: 45px;
    border-radius: 0 0 5px 5px ;
    display: flex;
    align-content:flex-end ;
    padding-left: 10px;
}

.vignette_title_activity{
    display: inline-flex;
    align-items:center;
}

.background_part{ 
    background-color: #F2F2F2;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;
}

/*Footer*/
footer{
    background-color:  #F2F2F2;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.Footer-block ul{
    list-style: none;
}

.Footer-block li{margin-top: 10px;
margin-bottom: 10px;
}

.Footer-block ul li a
{text-decoration:none;
color:black;
}

.Footer-block-title
{color: black;
margin-top: 15px;
margin-bottom: 15px;
}

.Footer-block-hide{
    width: 150px;
}



